<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Burgers to Devour!</title>
  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">

  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>

</head>
<body>
  {{{ body }}}
</body>
</html>