

#newBurger {
    clear: both;
    margin-left: 20px;
}

textarea {
    width: 200px;

}

body {
    background-color: lightgoldenrodyellow;
    background-image: url("../img/burgers.jpg");
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
}

.container {
    background-image: url("../img/burgerback.png");
    width: 600px;
    height: 800px;
    margin: auto;
    border: 8px double black;
}

h1 {
    text-align: center;
}

.devour {
    display: inline;
}

#burgerList {
    display: inline;
}

#belly {
    margin-left: 20px;
}
